<% include ./layout/head.ejs %>
<% include ./layout/header.ejs %>
<div class="container">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <strong>非常抱歉！</strong> 该页面还未完成，或不存在，敬请期待...
    </div>
</div>
<!-- jQuery 3 -->
<script src="/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

<% include ./layout/footer.ejs %>
<% include ./layout/foot.ejs %>