<footer>
  <hr />
  <div class="container">
    <div class="text-center">
      Copyright &copy; 2019-2020. All rights reserved. 
    </div>
    <!-- <a href="<%= web.author_twitter %>">Twitter </a> · <a href="<%= web.author_weibo %>">Weibo </a> -->
    <div class="text-center">
      <a href="http://www.beian.miit.gov.cn/">京ICP备17071687号-2</a>
    </div>
  </div>
</footer>