<!-- <footer>
  <hr />
  <div class="container">
    Copyright &copy; 2019-2020. All rights reserved. 
    <a href="<%= web.author_twitter %>">Twitter </a> · <a href="<%= web.author_weibo %>">Weibo </a>
  </div>
</footer> -->