<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - <%= web.title %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <!-- github-fork-ribbon-css -->
    <link rel="stylesheet" href="/github-fork-ribbon-css/gh-fork-ribbon.css" />
    <!-- custom -->
    <link rel='stylesheet' href='/stylesheets/style.css'>