<h3 style="font-size:20px; margin-top:0;margin-bottom:20px"><%= title %>
  <% if( url ){ %>
    <small><a class="label label-warning" href="<%= official_link %>" target="_blank">官方地址</a></small>
  <% } %>
    <small><a class="label label-success" href="<%= doc_link %>" target="_blank">文档库地址</a></small>
</h3>